.env
api_tests/*
.Dockerfile
**/__pycache__
*.pyc
.git
.vscode
.coveragerc
.dockerignore
.gitignore
.coverage
models/*
detectron2/*
**/api_tests
**/detectron2
**/models
**/env
models/
htmlcov
**/htmlcov
README.md
Dockerfile
my-cert.pem
buildScript.sh
CDockerfile
CovJenkinsfile
**/detectron2
.detectron2
detectron2/*
