boto3==1.16.18
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
csv-reader==1.2.0
Flask==1.1.2
flask-restplus==0.13.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
requests==2.25.0
python-dotenv==0.17.1
urllib3==1.26.2
scikit-learn==0.23.1
Werkzeug==0.16.1
botocore~=1.19.63
pika~=1.2.0
imutils==0.5.4
opencv-contrib-python==4.5.1.48
pytesseract==0.3.7
numpy==1.18.1
pandas==1.0.5
Pillow~=8.2.0